.search {
    top: 8px;
    left: 443px;
    position: inherit;
    display: flex;
}
.navbar {
    position: relative;
    min-height: 50px;
    background-color: aliceblue;
    border-radius: 0px;
}
div#large-content {
    background-image: url(../pic/background.jpg);
    border-radius: 0px;
    background-attachment: fixed;
    background-repeat: round;
}
.container-fluid.header-content {
    position: absolute;
    width: 100%;
    top: 52px;
    padding: 0px 0px 0px 0px;
}
h1.slogan {
    margin-top: -14px;
}
.menu-bar-second {
    position: relative;
    top: 186px;
}
.menu-bar-second nav.navbar.navbar {
    background-color: #00BCD4;
    border-radius: 0px;
}
.menu-bar-second nav.navbar.navbar {
    background-color: #00BCD4;
    border-radius: 0px;
    border: 0px;
}
div#large-content {
    border-radius: 0px;
}
nav#nav-2 {
    height: 43px;
    min-height: 41px;
}
ul#mn-bar-2 {
    margin-top: -4px;
}
#mn-bar-2 a {
    color: aliceblue;
}
#mn-bar-2 a:hover {
    color: aliceblue;
    background-color: firebrick;
}
#mn-bar-2 a {
    color: #122e46;
}
.content {
    background-color: whitesmoke;
    width: 100%;
    height: auto;
    position: absolute;
    top: 302px;
}
.main-article img.thumbnail {
    width: 391px;
}
.main-article .title {
    position: relative;
    top: -17px;
    width: 391;
    height: 40px;
    font-size: 14px;
    font-weight: bold;
}
.sub-content {
    font-size: 13px;
    text-align: justify;
    position: relative;
    top: -17px;
    height: 59px;
    width: 383px;
}
.main-article {
    position: relative;
    top: 10px;
    border-right: solid 1px rgba(0, 20, 255, 0.08);
    width: 407px;
    height: auto;
}
.articles-item img.thumbnail {
    display: block;
    width: 193px;
    margin-top: 7px;
}
.articles-item .title {
    margin-left: 196px;
    margin-top: -162px;
    font-size: 12px;
    display: block;
    margin-bottom: 3px;
    font-weight: bold;
}
.articles-item .time {
    display: block;
    margin-left: 197px;
    font-size: 11px;
    margin-bottom: 24px;
    border: solid 1px #862121;
    width: 71px;
    background-color: #03A9F4;
}
.articles-item .sub-content {
    margin-left: 196px;
    margin-top: -2px;
    width: 268px;
    text-align: justify;
}
.articles-item {
    height: 154px;
    margin-left: -45px;
    margin-bottom: 6px;
    border-bottom: solid 1px rgba(0, 0, 255, 0.12);
    margin-top: 11px;
}
